@tailwind base;
@tailwind components;


@layer base{
     
       
    @font-face {
        font-family: Inter;
        font-weight: 100;
        src: url(../assets/fonts/inter-v3-latin/inter-v3-latin-200.woff) format("woff");
      }

      @font-face {
        font-family: Inter;
        font-weight: 200;
        src: url(../assets/fonts/inter-v3-latin/inter-v3-latin-200.woff) format("woff");
      }

      @font-face {
        font-family: Inter;
        font-weight: 300;
        src: url(../assets/fonts/inter-v3-latin/inter-v3-latin-300.woff) format("woff");
      }

      @font-face {
        font-family: Inter;
        font-weight: 400;
        src: url(../assets/fonts/inter-v3-latin/inter-v3-latin-regular.woff) format("woff");
      }

      @font-face {
        font-family: Inter;
        font-weight: 500;
        src: url(../assets/fonts/inter-v3-latin/inter-v3-latin-500.woff) format("woff");
      }

      @font-face {
        font-family: Inter;
        font-weight: 600;
        src: url(../assets/fonts/inter-v3-latin/inter-v3-latin-600.woff) format("woff");
      }

      
      @font-face {
        font-family: Inter;
        font-weight: 700;
        src: url(../assets/fonts/inter-v3-latin/inter-v3-latin-700.woff) format("woff");
      }

      @font-face {
        font-family: Inter;
        font-weight: 800;
        src: url(../assets/fonts/inter-v3-latin/inter-v3-latin-800.woff) format("woff");
      }

      @font-face {
        font-family: Inter;
        font-weight: 900;
        src: url(../assets/fonts/inter-v3-latin/inter-v3-latin-900.woff) format("woff");
      }

      @layer components{

        .center-content{
          @apply
          justify-center 
          items-center
        }

        .dropdown{
          @apply
          space-y-2 
          pt-4 
          border-b-2 
          border-r-2 
          border-l-2 
          rounded-b-xl 
          border-gray-300
          px-2 
          pb-2
        }

  
        }
       
        /*  */

      }

      :root{  
          font-family: 'Inter';
          @apply 
          box-border
          h-auto
          bg-white
          m-0
          p-0

      }
   








